<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<style>
.bigImgClass{
 					max-height: 100vh;
 					 max-width: 100wh;}
</style>
 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script layout:fragment="script" th:inline="javascript">
var lastKey=0;
	
function getByValue(map, searchValue) {
		  for (let [key, value] of map.entries()) {
		    if (value === searchValue)
		      return key;
		  }
		}
	

	
const delay = ms => new Promise(res => setTimeout(res, ms));
	
async function showNextImage() 
	{
	
	 
	   
		var beforeLast=0;
		const map = new Map(Object.entries(/*[[${images}]]*/));		
		const iterator1 = map.keys();
		
		while((beforeLast=iterator1.next().value)!= lastKey)
			{}
		
		
		
		document.getElementById('container').innerHTML = lastKey+'not map.get';
		
		if(map.get(lastKey))
		{
			document.getElementById('container').innerHTML ='<img src="data:image/jpeg;charset=utf-8;base64, '+map.get(lastKey)+'" alt="test"  id="bigImg" class="bigImgClass" />'+
    		'<button onclick="showNextImage()">next</button>';
    		lastKey=iterator1.next().value;
    		document.getElementById('container').innerHTML += lastKey
    	}else
    	{
    		
    		document.getElementById('container').innerHTML = lastKey+'not map.get';
    	}
	 
	}
	
	async function setLastKey()
	{
		const map = new Map(Object.entries(/*[[${images}]]*/));		
		const iterator1 = map.keys();
		lastKey=iterator1.next().value;
		while(true)
			{
		await delay(5000);
		showNextImage();
			}
	}
</script>

<title>Insert title here</title>
</head>
<body>
<div id="container">
	<button th:onclick="setLastKey()">start</button>
</div>
</body>
</html>