<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
    <!--CSS Data-->
    	<style>
   			 img {
  					border: 5px solid #ffffff;
				}
			.bigImgClass{
 					max-height: 100vh;
 					 max-width: 100wh;}
			dialog { display: block; }
			dialog:not(:target):not([open]) { display: none; }
	</style>
	
        <title>images</title><!--site title-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       	<script layout:fragment="script" th:inline="javascript">
       		
       		var bool = 0;
       		var lastKey=0;
       		
       		function readJSON(file) {
       		    var request = new XMLHttpRequest();
       		    request.open('GET', file, false);
       		    request.send(null);
       		    if (request.status == 200)
       		        return request.responseText;
       		};

       		function getByValue(map, searchValue) {
       		  for (let [key, value] of map.entries()) {
       		    if (value === searchValue)
       		      return key;
       		  }
       		}
       		
       		function showPrevImage()
       		{
				bool=0;
       			
       			const map = new Map(Object.entries(/*[[${images}]]*/));
       			
       			const iterator1 = map.values();
				
       			while(iterator1.prev().value!= map.get(lastKey))
       				{}
       			
       			lastKey=getByValue(map,iterator1.prev().value)
       			
       			document.getElementById('dialog').innerHTML =
	            		'<div class="dbox-dialog--content">'+
	            		'TEST</br>'+
	            		'<img src=\"data:image/jpeg;charset=utf-8;base64, '+map.get(lastKey)+'\" alt=\"test\"  id=\"bigImg\" class=\"bigImgClass\" />'+
	            		
	            		'</div>';
	            		var button2 = document.createElement('button');
	            		  button2.innerHTML = 'prev';
	            		  button2.onclick = function(){
	            		    showPrevImage();return false;};
       			var button = document.createElement('button');
      		  button.innerHTML = 'next';
      		  button.onclick = function(){
      		    showNextImage();return false;
      		  };
      		  
      		  document.getElementById('dialog').appendChild(button);
      		document.getElementById('dialog').appendChild(button2);
      		  
       			
       		}
       		
       		function showNextImage()
       		{
				bool=0;
       			
       			const map = new Map(Object.entries(/*[[${images}]]*/));
       			
       			const iterator1 = map.values();
				
       			while(iterator1.next().value!= map.get(lastKey))
       				{}
       			
       			lastKey=getByValue(map,iterator1.next().value)
       			
       			document.getElementById('dialog').innerHTML =
	            		'<div class="dbox-dialog--content">'+
	            		'TEST</br>'+
	            		'<img src=\"data:image/jpeg;charset=utf-8;base64, '+map.get(lastKey)+'\" alt=\"test\"  id=\"bigImg\" class=\"bigImgClass\" />'+
	            		
	            		'</div>';
	            	
	            		var button2 = document.createElement('button');
	            		  button2.innerHTML = 'prev';
	            		  button2.onclick = function(){
	            		    showPrevImage();return false;};
     			var button = document.createElement('button');
    		  button.innerHTML = 'next';
    		  button.onclick = function(){
    		    showNextImage();return false;
    		  };
    		  document.getElementById('dialog').appendChild(button);
        		document.getElementById('dialog').appendChild(button2);
      		  
       			
       		}
       	
			function showImage(key,text, value)
        	{
				
        		document.getElementById('dialog').innerHTML =
        		'<div class="dbox-dialog--content">'+
        		'<img src=\"data:image/jpeg;charset=utf-8;base64, '+value+'\" alt=\"test\"  id=\"bigImg\" class=\"bigImgClass\" />'+
        		'</br>'+
        		text.toString()+'</br>'+
        		key.toString()+'</br>'+
        		
        		'</br><a href="#!">Close</a></br>'+
        		
        		'</div>';
        		var button2 = document.createElement('button');
      		  button2.innerHTML = 'prev';
      		  button2.onclick = function(){
      		    showPrevImage();return false;};
			var button = document.createElement('button');
	  button.innerHTML = 'next';
	  button.onclick = function(){
	    showNextImage();return false;
	  };
        		  document.getElementById('dialog').appendChild(button);
        		  document.getElementById('dialog').appendChild(button2);
          		  
        		  lastKey = key;
        	}
        </script>
    </head>
    <body>
   <table  >
            <tr>
            
            </tr>
  		<tr  > 
 		<span >
            <ul class="skills" >
                <td  ><!--for every image object one tile.-->
                 	<a th:each="image, index : ${images}" href="#dialog"  id="chooseImage">  <img th:each="imageclass:${imageclasses}"  th:if="${imageclass.id == image.key}" href="#dialog" th:src="${'data:image/jpeg;charset=utf-8;base64,'+image.value}" alt="" class="img"  width="100"  th:data-images="${image.value}" th:data-key="${image.key}" th:data-text="${imageclass.name}"  th:onclick="showImage(this.getAttribute('data-key'),this.getAttribute('data-text'),this.getAttribute('data-images'))" id="imgObj" /></a>
               	</td><!--open it by clicking on it-->
            </ul>
       	</span>
    </tr>    
    <tr> 
  </table>
    <p><!--dialog with image when you click on it-->
        <a href="#dialog">Open dialog</a>
    </p>
		<dialog id="dialog">
        	<a href="#!">Close</a>
   		</dialog>
   		
   		</body>
</html>