<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
    <!--CSS Data-->
    	<style>
   			 img {
  					border: 5px solid #ffffff;
				}
			.bigImgClass{
 					max-height: 100vh;
 					 max-width: 100wh;}
			dialog { display: block; }
			dialog:not(:target):not([open]) { display: none; }
	</style>
	
        <title>images</title><!--site title-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       	<script th:inline="javascript">
       		
			
   			 
			function showImage(key,text, value)
        	{
				var imageMapVar = [[${images}]];
        		document.getElementById('dialog').innerHTML =
        		'<div class="dbox-dialog--content">'+
        		'<img src=\"data:image/jpeg;charset=utf-8;base64, '+value+'\" alt=\"test\"  id=\"bigImg\" class=\"bigImgClass\" />'+
        		'</br>'+
        		text.toString()+'</br>'+
        		key.toString()+'</br>'+
        		imageMapVar.get(key)+'</br>'+
        		'</br><a href="#!">Close</a>'+
        		'</div>';
        	}
        </script>
    </head>
    <body>
   <table  >
            <tr>
            
            </tr>
  		<tr  > 
 		<span >
            <ul class="skills" >
                <td  ><!--for every image object one tile.-->
                 	<a th:each="image, index : ${images}" href="#dialog"  id="chooseImage">  <img th:each="imageclass:${imageclasses}"  th:if="${imageclass.id == image.key}" href="#dialog" th:src="${'data:image/jpeg;charset=utf-8;base64,'+image.value}" alt="" class="img"  width="100"  th:data-images="${image.value}" th:data-key="${image.key}" th:data-text="${imageclass.name}" th:onclick="showImage(this.getAttribute('data-key'),this.getAttribute('data-text'),this.getAttribute('data-images'))" id="imgObj" /></a>
               	</td><!--open it by clicking on it-->
            </ul>
       	</span>
    </tr>    
    <tr> 
  </table>
    <p><!--dialog with image when you click on it-->
        <a href="#dialog">Open dialog</a>
    </p>
		<dialog id="dialog">
        	<a href="#!">Close</a>
   		</dialog>
   		
   		</body>
</html>