<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Show budgets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>

    <body>
   
   <table  >
            <tr>
            <th></th>
            <th></th>
           <th></th>
            </tr>
  <tr  > 
 <span >
            <ul class="skills" >
                <td th:each="image, index : ${images}" >
                
               <img  th:src="${'data:image/jpeg;charset=utf-8;base64,'+image.value}" alt="" class="img"  width="100" />
                    
                    
                <th:unless="${index.index % 3}">
                    
            		</td>
            	 	<td th:text = "Test"></td>
            		</ul>
       				</span>
       				</tr>    
                	<tr> 
                </th:unless>
            	
                	 

       

	

            
          
        </table>
   
       </body>
</html>