<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  
   <form method="post" >


  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />                
                       
                        
                       <input type="text" th:value="${images.name}" name="name"/>
  
   
      <input type="text" th:value="${imagePath.path}" name="path"/>
                    
             
<select class="form-control" id="dropDownList">
    
    <option th:each="option : ${albums}" th:value="${option.id}" th:text="${option.name}" th:field="${imagePath.albumId}"></option>
</select>
         
<!--    <button type="submit" class="btn btn-primary">Sign in</button> -->

<input type="submit" value="Submit" class="btn btn-primary" />
</body>


</html>