<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  
   <form method="post" th:object="${images}">


  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />                
                       
                        
                       <input type="text" th:value="*{name}" name="name"/>
      <input type="text" th:value="${path}" name="status"/>
                    
                         
<!--    <button type="submit" class="btn btn-primary">Sign in</button> -->

<input type="submit" value="Submit" class="btn btn-primary" />
</body>


</html>