<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<style>
span3 {
 
   display: grid;
   grid-template-columns: 200px 200px 200px
  ;
  grid-auto-flow: row;

  grid-auto-rows: minmax(100px, auto);

}
img {
  border: 5px solid #ffffff;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div  th:each="image,row : ${images}"th:with="numList=${#strings.listSplit('3,2,1,0', ',')}" th:if="${image.key} % 4 == 0" class="span3" >


    <img th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})"th:src="${'data:image/jpeg;charset=utf-8;base64,'+image.value}" alt="" class="img"  width="100" ></span>



 

</div>

</body>
</html>